.scent{
    width: auto;
}

.scent__title{
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Museo Sans', sans-serif;
}

.scent__list{
    margin-top: 30px;
}

.scent__attribute{
}

.scent__label{
    display: flex;
    height: 30px !important;
}

.scent__radio{

}

.scent_span{
    text-transform: capitalize;
    margin-left: 10px;
}