.loader.true{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 999;
}

.loader__gif{
    width: auto;
    height: 20vh;
    margin: 35vh auto;
}

.loader.false{
    display: none;
}

