.product__description{
    font-family: 'Museo Sans Cyrl';
    font-weight: 500;
    font-size: 14px;
    line-height: 137%;
    color: #989898;
    display: block;
    margin: 10px auto;
}

@media (min-width: 1800px){
    .minus-margin {
        margin: 0 0 !important;
    }
}

@media (min-width: 1500px ) and  (max-width:1799px){
    .minus-margin {
        margin: 0 -4rem !important;
    }
}



    @media (min-width: 768px) {
        .minus-margin {
            margin: 0 -2rem;

        }
    }

